{% include 'news/common.html' %}
{% if keyword %}
{% load tz %}
<div class="header">
    {% include 'news/icon.html' %}
    <form action="{% url 'search' %}" method="GET" class="search-container-result">
        <div>
            <input type="text" name="keyword" id="keyword" value="{{ keyword }}" class="search-input-result">
        </div>
        <div class="time-container">
            <label for="from_time">Time from: </label>
            <input type="text" name="from_time" id="from_time" value="{{ from_time_text }}" placeholder="yyyy-mm-dd hh:mm:ss">
            <label for="to_time">To: </label>
            <input type="text" name="to_time" id="to_time" value="{{ to_time_text }}" placeholder="yyyy-mm-dd hh:mm:ss">
        </div>
        <input type="submit" style="display:none">
    </form>
</div>
<div class="container">
    <div class="result-info">
        Search result of {{ keyword }}
        {% if from_time or to_time %}
        with time
        {% if from_time %}
        from {{ from_time }} 
        {% endif %}
        {% if to_time %}
        to {{ to_time }} 
        {% endif %}
        {% endif %}. Found using {{ time }} secs.
    </div>

    {% for article in news %}
    <div class="article-container">
        <div>
            <a href="{% url 'view_news' article.id %}" class="news-title">{{ article.title }}</a>
        </div>
        <div>
            <a href="{{ article.url }}" class="news-url">{{ article.url }}</a>
            {% if article.pub_date %}
            {{ article.pub_date | timezone:"Asia/Shanghai" }}
            {% endif %}
        </div>
        <div class="news-abstract">
            {{ article.abstract }}
        </div>
    </div>
    {% endfor %}

    {% if from_index > 0 %}
    <a href="{% url 'show_all' %}?from={{ prev_from_index }}&page={{ page }}" class="prev-page">Prev Page</a>
    {% endif %}

    {% if next_from_index > from_index %}
    <a href="{% url 'show_all' %}?from={{ next_from_index }}&page={{ page }}" class="next-page">Next Page</a>
    {% endif %}
</div>
{% else %}
<form action="{% url 'search' %}" method="GET" class="search-container-initial">
    <div class="big-icon">
        {% include 'news/icon.svg' %}
    </div>
    <input type="text" name="keyword" id="keyword" value="{{ keyword }}" class="search-input-initial">
    <div class="button-container">
        <input type="submit" value="Search" class="search-button-initial">
        <button class="search-button-initial" type="button" onclick="window.location.href='/news/feeling_lucky'">
            Feeling Lucky
        </button>
    </div>
</form>
{% endif %}