{% include 'news/common.html' %}
{% if keyword %}
{% include 'news/icon.html' %}
<form action="{% url 'search' %}" method="GET" class="search-container-result">
    <input type="text" name="keyword" id="keyword" value="{{ keyword }}" class="search-input-result">
</form>
<div class="container">
    <div class="result-info">
        Search result of {{ keyword }}. Found using {{ time }} secs.
    </div>
    {% for article in news %}
    <div class="article-container">
        <div>
            <a href="{% url 'view_news' article.id %}" class="news-title">{{ article.title }}</a>
        </div>
        <div>
            <a href="{{ article.url }}" class="news-url">{{ article.url }}</a>
        </div>
        <div class="news-abstract">
            {{ article.abstract }}
        </div>
    </div>
    {% endfor %}

    {% if from_index > 0 %}
    <a href="{% url 'show_all' %}?from={{ prev_from_index }}&page={{ page }}">Prev Page</a>
    {% endif %}

    {% if next_from_index > from_index %}
    <a href="{% url 'show_all' %}?from={{ next_from_index }}&page={{ page }}">Next Page</a>
    {% endif %}
</div>
{% else %}
<form action="{% url 'search' %}" method="GET" class="search-container-initial">
    <div class="big-icon">
        {% include 'news/icon.svg' %}
    </div>
    <input type="text" name="keyword" id="keyword" value="{{ keyword }}" class="search-input-initial">
    <div class="button-container">
        <input type="submit" value="Search" class="search-button-initial">
        <button class="search-button-initial" type="button" onclick="window.location.href='/news/feeling_lucky'">
            Feeling Lucky
        </button>
    </div>
</form>
{% endif %}