{% include 'news/common.html' %}
{% include 'news/icon.html' %}
{% load tz %}
<div class="container">
    <div class="result-info">
        Showing news from {{ from_index }} to {{ to_index }} with a total of {{ total }}. Found using {{ time }} secs.
    </div>
    {% for article in news %}
    <div class="article-container">
        <div>
            <a href="{% url 'view_news' article.id %}" class="news-title">{{ article.title }}</a>
        </div>
        <div>
            <a href="{{ article.url }}" class="news-url">{{ article.url }}</a>
            {% if article.pub_date %}
            {{ article.pub_date | timezone:"Asia/Shanghai" }}
            {% endif %}
        </div>
        <div class="news-abstract">
            {{ article.abstract }}
        </div>
    </div>
    {% endfor %}

    {% if from_index > 0 %}
    <a href="{% url 'show_all' %}?from={{ prev_from_index }}&page={{ page }}" class="prev-page">Prev Page</a>
    {% endif %}

    {% if next_from_index > from_index %}
    <a href="{% url 'show_all' %}?from={{ next_from_index }}&page={{ page }}" class="next-page">Next Page</a>
    {% endif %}
</div>