{% include 'news/common.html' %}
{% include 'news/icon.html' %}
{% load tz %}
<div class="news-container">
    <div>
        <a href="{{ news.url }}" class="news-title-big">{{ news.title }}</a>
    </div>
    <div>
        {{ news.pub_date | timezone:"Asia/Shanghai" }}
    </div>
    <div class="news-body">
        {{ news.full_body | safe }}
    </div>
    <form action="{% url 'scrape' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="url" id="url" value="{{ news.url }}" hidden>
        <input type="submit" value="Re-scrape">
    </form>
</div>