<body>
    {% include 'news/common.html' %}
    {% include 'news/icon.html' %}
    {% load tz %}
    <div class="news-container">
        <div>
            <a href="{{ news.url }}" class="news-title-big">{{ news.title }}</a>
        </div>
        <div class="result-info">
            Found using {{ time }} secs.
        </div>
        <div>
            {{ news.pub_date | timezone:"Asia/Shanghai" }}
        </div>
        <div class="news-body">
            {{ news.full_body | safe }}
        </div>
        <div>
            <h1> You might also want to see: </h1>
        </div>
        {% for article in similar_news %}
        <div class="article-container">
            <div>
                <a href="{% url 'view_news' article.id %}" class="news-title">{{ article.title }}</a>
            </div>
            <div>
                <a href="{{ article.url }}" class="news-url">{{ article.url }}</a>
                {% if article.pub_date %}
                {{ article.pub_date | timezone:"Asia/Shanghai" }}
                {% endif %}
            </div>
            <div class="news-abstract">
                {{ article.abstract }}
            </div>
        </div>
        {% endfor %}
        <form action="{% url 'scrape' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="url" id="url" value="{{ news.url }}" hidden>
            <input type="submit" value="Re-scrape">
        </form>
    </div>
</body>