<form action="{% url 'search_date' %}" method="GET">
    <label>From Date:</label>
    <input type="text" name="from_date" value="{{from_date}}">
    <label>To Date:</label>
    <input type="text" name="to_date" value="{{to_date}}">
    <input type="submit" value="Search">
</form>

<div>
    Cities found: {{ cities_len }}
</div>

{% for city in cities %}
<div>
    English Name:
    <a href="/search/city?city={{city.name}}">
        {{city.name}}
    </a>
    Chinese Name: {{city.chinese}}
    Founded: {{city.founded}}
</div>
{% endfor %}