.search-container-initial {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.search-input-initial {
    width: 40%;
    margin-bottom: 30px;
    height: 30px;
}

.search-button-initial {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-weight: bold;
    text-align: center;
    margin: 11px 4px;
    min-width: 100px;
}

.search-input-result {
    margin-left: 15%;
    width: 60%;
    height: 30px;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
}

.article-container {
    margin-bottom: 10px;
}

.result-info {
    color: #808080;
    font-size: small;
}

.news-title {
    font-size: 18px;
}

.news-url {
    font-size: 14px;
    color: #006621;
}

.news-abstract {
    line-height: 1.4;
    word-wrap: break-word;
    min-height: 30px;
}

.big-icon {
    width: 40%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.content-article .one-p {
    line-height: 2.2;
    margin-bottom: 2em;
    word-break: break-all;
}

.content-article .one-p .desc {
    color: #9b9ea3;
    line-height: 20px;
    text-align: center;
    display: block;
    font-size: 14px;
}

.content-article .one-p img.content-picture {
    max-width: 100%;
    margin: .6em auto;
    display: block;
}

.news-title-big {
    color: #333;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.next-page,
.prev-page {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-weight: bold;
    text-align: center;
    margin: 11px 8px;
    min-width: 130px;
}

.header {
    background: #fafafa;
    height: 66px;
}

.time-container {
    margin-left: 15%;
    margin-top: 6px;
    display: flex;
}

.time-container>label,
.time-container>input {
    margin-right: 5px;
}